.plain_form{
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -;
	display: block;
	margin-left: -360px;
	margin-top: -11px;
}
.plain_form span{
	margin: 5px;
}
.plain_form input{
	width: 255px;
}
.form div{
	margin: 10px;
}
#resultDiv{
	position: absolute;
	left: 50%;
	top: 49%;
	margin-left: -123px;
}
#resultDiv1{
	position: absolute;
	left: 50%;
	top: 73%;
	margin-left: -100px;
}
#resultDiv1 div{
	margin: 10px;
}
#resultDiv div{
	margin: 10px;
}
.logo img{
	position:absolute;
	top: 10%;
	left:50%;
	margin-left:-135px;
	display: block;
}
