.plain_form{
	margin-top: 15%;
	display: block;
}
.plain_form span{
	margin: 5px;
}
.plain_form input{
	width: 255px;
}
.form div{
	margin: 10px;
}
#resultDiv div{
	margin: 10px;
}
#resultDiv1 div{
	margin: 10px;
}
