.plain_form{
	position: absolute;
	top: 40%;
	left: 50%;
	display: block;
	margin-left: -188px;
	margin-top: -11px;
	border: outset;
	padding: 20px;
}
.plain_form span{
	margin: 5px;
	font: 12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif
}
.plain_form div{
	text-align: left;
	margin: 10px;
}
.plain_form input{
	width: 255px;
}
.form div{
	margin: 10px;
}
#resultDiv{
	position: absolute;
	left: 50%;
	top: 49%;
	margin-left: -123px;
}
#resultDiv1{
	position: absolute;
	left: 50%;
	top: 73%;
	margin-left: -100px;
}
#resultDiv1 div{
	margin: 10px;
}
#resultDiv div{
	margin: 10px;
}
.logo img{
	position:absolute;
	top: 10%;
	left:50%;
	margin-left:-135px;
	display: block;
}
